<!DOCTYPE html>
<html>
	<head>
		<title> <%= title %> </title>
		<link href="/stylesheets/onepage_content.css" type="text/css" rel="stylesheet" />
	</head>
    
	<body>
		<!-- Website Title and Navigation Bar -->
		<div class="top" id="nav"><br>
		    <font id = "order1" size="12" color=white face="fantasy"><b>Programming Tree Foundations</b></font>
            <div class="btn-group">
                <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="/lessons"><button type="button" class="btn btn-info">Lessons</button></a>
                <a href="/signup"><button type="button" class="btn btn-warning">Register</button></a>
                <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
            </div>
		</div> 
	    
		<!-- Content Itself, opens when user clicks something.-->
		<div class="main">
		    <h1>Basic Structure of a C program:</h1>
			<p>
				Simple C programs have the form: 
				<pre id="code">
	directives 
	
	int main(void){ 
		statements 
	}
				</pre>
				<ul>
					<li><b>Directives</b> are commands that editing commands thaat modify the program prior to compilation </li>
					<li><b>Functions</b> are blocks of executable codes </li>
					<li><b>Statements</b> are commands to be performed when the program is run. </li>
				</ul>
				<pre>For now, it is enough to know that the only directive we will be using is: #include <stdio.h> and that the only function we will be using is int main(void){} </pre>
				<ul>
					<li>In C, the main function is mandatory. main is special because it gets called automatically when the program is executed. </li>
					<li>The main function returns a value 0. This is a status code that is given to the operating system when the program terminates. It's okay if you do not fully understand this right now. It is most important to note that the "return 0;" will be the end of your main function for any of the programs that you write for these tutorials.  </li>
				</ul>
				<pre>A statement is a command to be executed when the program runs. C requires that statements end with a semicolon. We've seen an example of a statement - the return statement in the main function in which we return a zero. Another common statement is the printf statement. The printf statements looks like the following: printf("Are you learning yet? "); </pre>
				<ul>
					<li>This will print the string - or in other words, it will make visible the information in the quotations - to the user of your program.  </li>
				</ul>
				<pre>Here is an example of a basic program that prints Hello world:</pre> 
				<pre id="code">
	#include <stdio.h>

	int main(void){
		printf("Hello world!"); 
		return 0; 
	} 

				</pre>

			</p> 
		</div>
	</body>
    
   

</html>
