<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" /> 
        
        <script type="text/javascript">
            <!--
            function toggle_visibility(id) {
               var e = document.getElementById(id);
               if(e.style.display == 'block')
                  e.style.display = 'none';
               else
                  e.style.display = 'block';
            }
            //-->
        </script>  
        
	</head>
    
<!-- Website Title and Navigation Bar -->
<div class="top"><br>
    <font size="6" color=navy face="fantasy">Progamming Tree Foundations</font><br>
    <a href="/">Home</a> | <a href="/lessons">Start Learning!</a> | <a href="/signup">Login/Register</a> 
</div> 


=======

    
<!-- Content Itself, opens when user clicks something:
    Edit after <center> tag in order to include in any custom content -->
<div class="main">
    <br><br><br>

    This section will ultimately be taken over by the Programming Tree
    
    
    <!-- CONTENT OF THE PAGES:
        This class is essentially controls layout of all boxes:
        Only need to change the id -->
        <h3>Chapter 1: Memory Allocation</h3>
        <p> Now that I know the boxes work for scrolling - random content removed</p>
    
</div><!-- End of main -->
</html>
