<!DOCTYPE html>
<html>
	<head>
		<title> <%= title %> </title>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" /> 
        
                <script type="text/javascript">
            <!--
            function toggle_visibility(id) {
               var e = document.getElementById(id);
               if(e.style.display == 'block')
                  e.style.display = 'none';
               else
                  e.style.display = 'block';
            }
            //-->
        </script>  
        
           
	</head>
    
<!-- Website Title and Navigation Bar -->
<div class="top"><br>
    <font size="6" color=navy face="fantasy">Progamming Tree Foundations</font><br>
    <a href="/">Home</a> | <a href="/lessons">Start Learning!</a> | <a href="/signup">Login/Register</a> 
</div> 
    
<!-- Programming Tree Interface Panel -->
    
<!-- Content Itself, opens when user clicks something.-->
<div class="main">
    <center><br><br><br>
    Welcome to the Programming Tree Foundations! <br>
    Content to be added soon!<br>
    </center>
</div>
     
</html>