<!DOCTYPE html>
<html>
	<head>
		<title> <%= title %> </title>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" /> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<!-- Latest compiled JavaScript -->
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    	
	</head>
<body>
	<!-- Website Title and Navigation Bar -->
	<div class="row"><br>
		<div class = "col-lg-12 top text-center">
            
    		<!--<div class="btn-group">
  				<a href="/"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
  				<a href="/signup"><button type="button" class="btn btn-warning">Register</button></a>
  				<a href="/lessons"><button type="button" class="btn btn-warning">Lessons</button></a>
			</div><!-- End of btn group-->
            
            <ul>
                <br><font size="6" color=white face="fantasy">Progamming Tree Foundations</font><br>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
            </ul>
            
            
		</div>
	</div> 
	<div class="row">
  		<div class="col-lg-12 welcome text-center">

            <h1>Welcome to the Programming Tree Foundations!</h1><br>
            
            <h2>Our Purpose</h2><br>
                
            <p>This website is designed to teach students the foundations of C programming, as an aid to those who are either
                learning C for the first time while in a current course placement of CSC209, or to those who are simply in need of a quick refresher on some of the concepts like memory allocation. All the same, while presenting the user with an interactive components to get an more enriched experience of learning C.</p><br>
                
            <h2>The Various Functionalities</h2><br> 
            
            <p>Unlike usual sites which present the information in a text-based and images format, the Programming Tree Foundations offer an more user interactive way of learning. Where as the title of our page states, the content of C programming is divided as nodes on a tree data structure - where the user is able to choose what aspects of C they would like to learn or get a refresher on.</p><br>
                
            <p>Our page also presents games on some of the content pages, where on top of the exercises and readings, users are able to get a very interactive way of better understanding the content material!</p>
                
            <h2>Sounds Awseome! Where can I start?</h2><br>
                
            <p>If you are a new user and would like to get started, please register for an account! To returning users, you know what to do! In order to view the content one must sign up for an account, where as you are reading the pages and completing the exercises, your progress will be recorded and saved onto the webpage's database.</p><br>
                
            <h2>Great!</h2>
            <h2>Have a happy coding!</h2>

  		</div> <!-- End of col welcome div -->
    </div> <!-- End of row-->
</body>   

</html>
