<!DOCTYPE html>
<html>
	<head>
		<title> <%= title %> </title>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" /> 
	</head>
    
<!-- Website Title and Navigation Bar -->
<div class="top"><br>
    <font size="6" color=navy face="fantasy">Progamming Tree Foundations</font><br>
    <a href="/">Home</a> | <a href="/lessons">Start Learning!</a> | <a href="/signup">Register</a> | <a href="/login">Login</a> 
</div> 
    
<!-- Programming Tree Interface Panel -->
    
<!-- Content Itself, opens when user clicks something.-->
<div class="main">
    <center><br><br><br>
    Welcome to the Programming Tree webpage!
    </center>
</div>
     
</html>
