<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href="/stylesheets/onepage_content.css" type="text/css" rel="stylesheet" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script type="text/javascript">
            <!--
            function toggle_visibility(id) {
               var e = document.getElementById(id);
               if(e.style.display == 'block')
                  e.style.display = 'none';
               else
                  e.style.display = 'block';
            }
            //-->
        </script>  
        
	</head>
<body>
  <!-- Website Title and Navigation Bar -->
  <div class="top"><br>
    <div class = "col-lg-12 top text-center">
		    <font id = "order1" size="12" color=white face="fantasy"><b>Programming Tree Foundations</b></font>
        <div class="btn-group">
          <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
          <a href="/lessons"><button type="button" class="btn btn-info">Lessons</button></a>
          <a href="/signup"><button type="button" class="btn btn-warning">Register</button></a>
          <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
      </div>
    </div>
  </div> 
    
    
<!-- Content Itself, opens when user clicks something:
    Edit after <center> tag in order to include in any custom content -->
  <div class="main">
      <!-- Programming Tree Interface Panel:
      If CSS is implemented, tree would show up here -->
      <center>
          <div id="tree">
          </div>
      <script type = "text/javascript" src="/javascripts/tree.js"></script>
      </center>
    </div>
    
  </div><!-- End of main -->
</body>
</html>
