<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script type="text/javascript">
            <!--
            function toggle_visibility(id) {
               var e = document.getElementById(id);
               if(e.style.display == 'block')
                  e.style.display = 'none';
               else
                  e.style.display = 'block';
            }
            //-->
        </script>  

        
</head>
    
<body>
  <!-- Website Title and Navigation Bar -->
  <div class="row"><br>
    <div class = "col-lg-12 top text-center">
        <ul>
            <br><font size="6" color=white face="fantasy">Progamming Tree Foundations</font><br>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Register</a></li>
        </ul>
    </div>
  </div> 
    
  <div class="row">
        &nbsp;
      <div class="col-lg-12 main text-center">

        <font size="6" color=green face="Times New Roman">Welcome!</font><br>
        <font size="4" color=green face="Times New Roman">Register to Get Started!</font><br><br>
          
        <form class="form-horizontal" role="form" action="/signup" method="post">
          <div class="form-group">
            <label class="control-label col-lg-2" for="email">Email address:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="email" placeholder="sample@hotmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2" for="username">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" id="username" placeholder="Please Enter a nickname.">
            </div>          
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2" for="pwd">Password:</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="pwd" placeholder="Please Enter Your Password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2" for="pwd2">Confirm Password:</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" name="password1" id="pwd2" placeholder="Please Enter Your Password Again.">
            </div>
          </div>
          <button class="btn btn-success" type="submit"> Submit </button>

       </form>
    
      </div>
  </div>
</body>   

</html>
    
    
    
    
</html>