body {
    background-color: lightgrey;
}

/* Main elements of the page s*/
.top {
    
    /* TL TR BR BL */
    border-radius: 10px 10px 10px 10px; /* Rounds the headers */
	border-style: solid !important;
	border-width: 2px;
	border-color: #A2ADBC;
    /* #A2ADBC background-color: #D9E2E1;*/
    background: linear-gradient(#A2ADBC, #D9E2E1, #A2ADBC);
    
    position: absolute;
    left:10px; top: 10px; bottom: 0px; right:10px;
    height: 100px;
    align-content: center;
    
    color: white;
    text-align: center;
    background-position: center;
}

/*=======================================================*/
/*variable css*/
#order1 { 
    margin-right: 30px; 
} 

.navLink {
    float: left; 
    margin-left: 10px;
    margin-right: 10px; 
    border-radius: 20px; 
    background: #2B8988;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.navLink:hover {
    background-color: #5CB5B4; 
}

.main {
    background: white; 
    min-width: 450px;

    width: 80%;
    height: 100%;
    margin-top: 20px; 
    margin-left: 10%;
    margin-right: 10%; 
    border-radius: 20px; 
    border-style: solid; 
    border-color: #D3E4E9;
}

h1 { 
    margin: 10px;
    color: #224C56; 
}

h2 {
    margin: 10px;
    color: #224C56; 
}

h3 {
    margin: 10px;
    color: #224C56; 
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin-left: 30px;
    margin-right: 30px
    font-size: 20px;  
}

ul{
    margin-left: 30px;
    margin-right: 30px
    font-size: 20px; 
}

ol{
    margin-left: 30px;
    margin-right: 30px
    font-size: 20px; 
}

p { 
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px; 
}


.nextbutton {
    float: right; 
    margin-left: 10px;
    margin-right: 10px; 
    border-radius: 20px; 
    background: white;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-style: solid; 
    border-color: #D3E4E9;
}

.backbutton { 
    float: left; 
    margin-left: 10px;
    margin-right: 10px; 
    border-radius: 20px; 
    background: white;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-style: solid; 
    border-color: #D3E4E9;
}

.nextbutton:hover {
    background-color: gray; 
}

.backbutton:hover {
    background-color: gray; 
}

.question {
    background-color: #EAD6FF; 
    color: black;
    min-width: 70%;
    height: 60px;
    display: flex;
    justify-content: left; 
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
    border-style: solid; 
    border-color: #D6BBF2;
    box-shadow: 5px 5px 2px #888888;
}

form { 
    margin: 10px;
}
/*==================================================*/
/*basic syntax styling*/
.main{
    float: left;
    padding: 30px;
}