body {
    background-color: lightgrey;
}

/* Main elements of the page s*/
.top {
    
    /* TL TR BR BL */
    border-radius: 10px 10px 10px 10px; /* Rounds the headers */
	border-style: solid !important;
	border-width: 2px;
	border-color: #A2ADBC;
    /* #A2ADBC background-color: #D9E2E1;*/
    background: linear-gradient(#A2ADBC, #D9E2E1, #A2ADBC);
    
    position: absolute;
    left:10px; top: 10px; bottom: 0px; right:10px;
    height: 100px;
    align-content: center;
    
    color: white;
    text-align: center;
    background-position: center;
}

.main {
    position: absolute;
    left: 10px; top:120px; right:10px; bottom:10px;
    background-color: white;
    color: black;
    /* TL TR BR BL */
    border-radius: 10px 10px 10px 10px; /* Rounds the headers */
	border-style: solid !important;
	border-width: 1px;
	border-color: white;
    text-align:center;
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ====================================================================== */



/* Options to Customize the Scrollbars ===================*/
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/ 
    -webkit-border-radius: 10px;
    background-color:#fff;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#b3ccff; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* ========================================================*/

.treeNode{
    color: white;
    background-color: lightblue; 
    border-radius: 100%;
    width: 100px; height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px;
}

.treeNode:hover { 
    background-color: #C2EDF8; 
}

h1 {
    color: navy;
    font-size: 16px;
    background-color: transparent;
}

h2, h3 {
    color: cornflowerblue;
    font-size: 12px;
    background-color: transparent;
}

#q1_result{
    border: solid;
    padding: 30px;
    width: 600px;
}