.treeNode{
    color: white;
    background-color: lightblue; 
    border-radius: 100%;
    width: 100px; 
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.treeNode:hover { 
	background-color: #C2EDF8; 
}

.level{
	clear: both; 
}

#level1{
	float: center; 
}

#nodeFloatsRight {
	float: right; 
}

#nodeFloatsLeft {
	float: left;  
} 

#nodeFloatsCenter { 
	float: center; 
} 
